@import 'variables';

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #ababab;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #929292;
}
::-webkit-scrollbar-thumb:active {
  background: #929292;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: #ffffff;
}
::-webkit-scrollbar-track:active {
  background: #ffffff;
}
::-webkit-scrollbar-corner {
  background: transparent;
}

h1, h2, h3, p, a, label, input, form {
	font-family: 'Source Sans Pro', helvetica, sans-serif;
}

h1 {
	font-weight: 600;
	color: #ef4e80;
	margin-bottom: 16px;
}

.sakhi-signin-logo {
	width: 116px;
	display: block;
	margin: 18px auto;
}

.sakhi-signin {
	width: 111px;
	height: auto;
	margin: 16px auto 0;
	display: block;
}

.sakhi-signin-header {
	text-align: center;
}

.sign-in-submit-btn {
	margin-bottom: 24px;
}

label {
	font-weight: 600;
}

body {
	width: 366px;
}



.img-phone {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

.phone-wrapper {
	height: 590px;
	overflow-x: hidden;
	background: white;
	width: 332px;
	top: 112px;
	left: 34px;
	position: relative;
	background-color: #FCF7EE;
}

.container, .title-bar {
	max-width: 332px;
	margin-left: 0;
	margin-right: 0;
}

.panel-group {
	margin-bottom: 16px;
	form {
		margin-bottom: 0;
	}
}

.panel-heading.blue-panel {
	// background-image: -webkit-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	//     background-image: -o-linear-gradient(top,#5bc0de 0,#2aabd2 100%);
	//     background-image: -webkit-gradient(linear,left top,left bottom,from(#5bc0de),to(#2aabd2));
	//     background-image: linear-gradient(to bottom,#5bc0de 0,#2aabd2 100%);
	//     filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
	//     filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	//     background-repeat: repeat-x;
	//     border-color: #28a4c9;
	background-color: #ef4e80;
	background-image: none;
	border-color: darken(#ef4e80, 10%);
	background-repeat: no-repeat;
	&:hover {
		background-color: darken(#ef4e80, 10%);
		border-color: darken(#ef4e80, 20%);
		background-image: none;
	}
	&:active, &:focus, &:active:hover, &:focus:hover {
		background-color: darken(#ef4e80, 15%);
		border-color: darken(#ef4e80, 20%);
		background-image: none;
	}
    a {
    	color: white;
    }
}

.panel-heading {
	padding: 0;
	border-radius: 4px;
	> a {
		padding: 10px 15px;
		display: inline-block;
		width: 100%;
		&:hover, &:active, &:focus {
			text-decoration: none;
		}
	}
}

.next-evaluation-alert {
	.fa {
		margin-right: 4px;
	}
}

.panel-group .panel+.panel {
	margin-top: 10px;
}

.landing-page-accordion-container {
	margin-top: 12px;

}

#collapseOne {
	.panel-body {
		position: absolute;
		width: 100%;
	}
}

.panel-collapse {
	position: relative;
	overflow: hidden;
}

.accordion-icon {
	margin-right: 6px;
}

.landing-page-search-wrapper {
	margin-bottom: 16px;
}

.landing-page-search {
	width: 90%;
}

.landing-page-search-container {
	h2 {
		font-size: 22px;
		margin-top: 8px;
	}
}

.border-container {
	border: 1px solid #E6DAC3;	
	padding: 4px 12px 0;
	min-height: 200px;
	border-radius: 4px 4px 6px 6px;
	box-shadow: $box-shadow;
	overflow: hidden;	
	margin-bottom: 20px;
}

.landing-page-search-wrapper {
	padding: 4px 8px;
	.fa {
		color: #aaa;
	}
}

.landing-page-search {
	border: none;
	margin-left: 4px;
}

.disabled-search {
	opacity: 0.5;
	input {
		pointer-events: none;
	}
}

.landing-page-records-pane {
	padding: 16px 0;
}

.no-results-text {
	text-align: center;
	color: #aaa;
	font-style: italic;
	margin-bottom: 0;
}

.fa.submit-right {
	font-size: 12px;
	margin-left: 2px;
}

.fa.form-icon {
	position: relative;
	top: -1px;
	margin-right: 5px;
}

.form-icon-image {
	@extend .fa.form-icon;
	height: 12px;
}

.title-bar {
	// background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	// background-image: -o-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	// background-image: -webkit-gradient(linear,left top,left bottom,from(#f5f5f5),to(#e8e8e8));
	// background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
	// filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	// background-repeat: repeat-x;
	background-color: #DFCCA3;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	padding: 10px 15px;
	margin-bottom: 8px;
	position: absolute;
	width: 100%;
	top: 112px;
	left: 34px;
	z-index: 100;
	h1 {
		text-align: center;
		margin: 0;
		font-size: 16px;
		color: rgba(0, 0, 0, 0.8);
	}
	a {
		color: rgba(0, 0, 0, 0.6);
	}
}

.title-back {
	font-size: 12px;
	font-weight: 600;
	position: absolute;
	top: 10px;
	left: 15px;
	.fa {
		margin-right: 2px;
		font-size: 10px;
	}
	p {
		display: inline-block;
		margin: 0;
	}
}

.fa.title-icon {
	margin-right: 5px;
	font-size: 14px;
	position: relative;
	top: -1px;
}

.child-details-container {
	margin-top: 42px;
	.form-group {
		padding: 8px 0;
		border-bottom: 1px solid #ddd;
		margin: 0;
	}
	label {
		font-weight: 400;
	}
	.label-answer {
		display: inline;
		margin: 0;
		font-weight: 600;
	}
}

.view-more-wrapper {
	margin: 8px 0;
	.fa {
		font-size: 12px;
		margin-right: 4px;
	}
}

.evaluations-container {
	margin-bottom: 24px;
	h2 {
		font-size: 22px;
		margin-top: 10px;
	}
}

.fa.button-icon {
	margin-right: 6px;
}

.new-evaluation-btn {
	width: 100%;
	display: block;
	margin-bottom: 12px;
}

.evaluation-unit {
	border-top: 1px solid #E6DAC3;
	padding: 8px 0;
	.fa {
		margin-right: 6px;
	}
	p {
		margin-bottom: 2px;
	}
	h3 {
		margin-top: 2px;
		font-size: 19px;
	}
}

.evaluation-submit {
	margin: 4px 0;
}

.text-grey {
	color: #999;
}

.text-red {
	color: #d9534f;
}

.float-left {
	float: left;
}

.text-green {
	color: #5cb85c;
}

.text-yellow {
	color: #FCAA46;
}

.view-all-records-btn-row {
	.col-xs-12 {
		padding: 0 3px;
	}
}

.view-all-records-btn {
	width: 100%;
	margin-top: 12px;
	border-radius: 0 0 6px 6px;
}

.game-question {
	font-weight: 600;
}

.sign-up-box {
	.fa {
		margin-right: 4px;
	}
	.btn {
		float: right;
		// width: 100%;
	}
}

.grid-answer {
	border: 1px solid #E6DAC3;
	border-radius: 4px;
	text-align: center;
	padding: 6px 4px;
	margin-bottom: 12px;
	cursor: pointer;
	display: block;
	color: #555;
	p {
		margin: 0;
	}
	img {
		height: 80px;
	}
	&:hover {
		background-color: lighten(#E6DAC3, 17%);
	}
	&.active {
		background-color: lighten(#E6DAC3, 17%);
		font-weight: bold;
	}
}

.nav-tabs {
	margin-top: 16px;
	border-bottom: none;
	li {
		width: 48%;
		text-align: center;
		font-size: 18px;
		a {
			color: #888;
		}
	}
}

.nav-tabs>li {
	margin-bottom: -1px;
}

.tab-content.border-container {
	padding-top: 12px;
}

.panel-body {
	form {
		line-height: 2;
	}
	.form-back-btn {
		margin-top: 8px;
		display: inline-block;
		.fa {
			font-size: 12px;
			margin-right: 4px;
		}
	}
	.form-next-btn {
		display: inline-block;
		margin-top: 8px;
		float: right;
		.fa {
			font-size: 12px;
			margin-left: 4px;
		}
	}
}

.float-right {
	float: right;
}

.game-diagnosis-container {
	margin-top: 54px;
}

.game-diagnosis-submit-row {
	.btn {
		display: block;
		margin-bottom: 8px;
	}
	.fa {
		margin-right: 6px;
	}
}

.in {
	
	&.q1-wrapper {
		height: 467px;
		transition: 0.3s ease;
	}
	
	&.q2-3-12-wrapper {
		height: 173px;
		transition: 0.3s ease;
	}
}

.invisible {
	opacity: 0;
	transition: 0.3s ease
}

.next-disable {
	color: #ddd;
	text-decoration: none;
	pointer-events: none;
}

.btn-primary {
	background-color: #ef4e80;
	background-image: none;
	border-color: darken(#ef4e80, 10%);
	background-repeat: no-repeat;
	&:hover {
		background-color: darken(#ef4e80, 10%);
		border-color: darken(#ef4e80, 20%);
		background-image: none;
	}
	&:active, &:focus, &:active:hover, &:focus:hover {
		background-color: darken(#ef4e80, 15%);
		border-color: darken(#ef4e80, 20%);
		background-image: none;
	}
}

.btn-default {
	border: 1px solid #918367;
	background-color: transparent;
	background-image: none;
	color: #918367;
	font-weight: 600;
	text-transform: uppercase;
	&:hover, &:active, &:focus, &:active:hover, &:focus:hover {
		background-color: transparent;
		border-color: darken(#918367, 20%);
		color: darken(#918367, 20%);
		background-image: none;
	}
	&.btn-lg {
		text-transform: none;
	}
}

.panel-default {
	border-color: #E6DAC3;
	background-color: transparent;
	>.panel-heading:not(.blue-panel) {
		background-image: none;
		background-color: #E1DACE;
		&:hover {
			background-color: darken(#E1DACE, 10%);
		}
		a {
			color: rgba(0, 0, 0, 0.8);
		}
	}
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: #FCF7EE;
}

.prasnavalli-title {
	height: 17px;
	width: auto;
	position: relative;
	top: -4px;
	left: 1px;
}

@media screen and (max-width: 768px) {

	body {
		width: auto;
		background-color: #FCF7EE;
	}

	.img-phone {
		display: none;
	}

	.phone-wrapper {
		left: 0;
		top: 0;
		width: auto;
		height: auto;
	}
	
	.container, .title-bar {
		max-width: none;
		width: 100%;
	}

	.title-bar {
		left: 0;
		top: 0;
	}

}

.hc-map {
	margin-bottom: 12px;
	width: 100%;
	border: 1px solid #ccc;
}






